.Image-content-1 {
    background: url('/src/imagenes/fondo_inicio_3.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.Container{
    background: url('/src/imagenes/fondo_generic.jpeg') no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.Section1-Container {
    color:white;
    padding: 200px 200px;
    text-align: center;
}

.Section1-Container > h1 {
    color:rgb(1, 73, 58);;
    font-size: 100px;
}
.Section1-Container > p {
    font-size: 50px;
}

.Section2-Container {
    padding: 150px 150px;
    text-align: center;
}
.Section3-Container {
    text-align: center;
}

.espacio-3 {
    padding: 100px 100px;
}

.pos_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.img_1 {
    height: 100px;
}
.img_1:hover {
    height: 150px;
    transition: 250ms;
}

.img_2 {
    height: 100px;
}
.img_2:hover {
    height: 150px;
    transition: 250ms;
}
.img_3 {
    height: 100px;
}
.img_3:hover {
    height: 150px;
    transition: 250ms;
}

.Section3-Container > h1 {
    margin-bottom: 50px;
}

