.img-container-1{
    background: url('/src/imagenes/img-home.jpg') no-repeat;
    background-size: 100% 101%;
}
.img-container-2{
    background: url('/src/imagenes/img-2.jpg') no-repeat;
    background-size: 100% 101%;
}
.img-container-3{
    background: url('/src/imagenes/img-3.jpg') no-repeat;
    background-size: 100% 101%;
}
.img-container-4{
    background: url('/src/imagenes/img-4.jpg') no-repeat;
    background-size: 100% 101%;
}
        .S1-Container  {
            color: white;
            padding: 100px 100px;
        }
        .S2-Container  {
            color: white;
            padding: 100px 100px;
        }
        .S3-Container  {
            color: white;
            padding: 100px 100px;
        }
        .S4-Container  {
            color: white;
            padding: 100px 100px;
        }

.S1-Container > h1{
    font-size: 100px;
    font-weight: bolder;
}

.S1-Container > p{
    margin-top: 8px;
    font-size: 32px;
    font-weight: bold;
}

.S2-Container > h1{
    font-size: 40px;
    font-weight: bolder;
}

.S2-Container > p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

.S3-Container {
    float: right;
}

.S3-Container > h1{
    font-size: 40px;
    font-weight: bolder;
}

.S3-Container > p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

.S4-Container > h1{
    font-size: 40px;
    font-weight: bolder;
}

.S4-Container > p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}
.espacio {
    padding-top: 250px;
}

.espacio-2 {
    padding-top: 800px;
}

.espacio-3{
    padding-top: 250px;
}

.nav-links-mobile-2 {
    display: none;
}

@media screen{

    .nav-links-mobile-2 {
        display: inline-block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 40%;
        background: #4ad9e4;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    .nav-links-mobile-2:hover {
        background: #fff;
        color: #6568f4;
        transition: 250ms;
    }

}